<div style="width:100%;">
	<div>Hello <%=seller_username%>,</div>
	<div style="margin-top:15px;">
	Your item <%=item_name%> has been sold to user <%=payer_full_name%> for <%=payment_total%>. Sweet, easy money.
	</div>
	<div style="margin-top:15px;">
		Please ship the buyer their purchase as soon as possible. It will make him happy.
	</div>
	<div style="margin-top:15px;">
		<div>Buyer Name: <%=payer_full_name%></div>
		<div>Buyer Address: <%=buyer_address%></div>
	</div>
	<div style="margin-top:15px;">
		<%=click_here%> if you had like to contact the buyer.
	</div>
	<div style="margin-top:20px;">
		Thanks,<br />
		Blade.Trade
	</div>
</div>
